@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	@apply text-black dark:text-white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.app {
	background-color: var(--clr-bg);

	&.light {
		--clr-bg: #fff;
		--clr-text: #000;
	}

	&.dark {
		--clr-bg: #000;
		--clr-text: #fff;
	}
}

.ant-btn-primary * {
	color: #fff !important;
}

.ant-message-notice-content * {
	color: #000 !important;
}
.ant-message-success * {
	fill: green !important;
}